<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>У вас получилось!</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
</head>
<body style="
    background-color: cornflowerblue;">
    
    <div style="margin-top:15%; text-align:center;  font-size:30px;">
     <h1 style=" " class="offset-lg-5">
       <big>Спасибо! </big> <br>
        Ваш заказ успешно оформлен. <br> </h1> 
         <p>Мы свяжемся с вами в ближайшее время ;)</p>
            <div style="background-image: url(../public/png/main_logo.png);"></div>
   </div>
       
</body>
</html>